---
import Layout from '../layouts/Layout.astro';
import Background from '../components/Background.astro'
import Header from '../sections/Header.astro';
import Hero from '../sections/Hero.astro';
import About from '../sections/About.astro';
import Projects from '../sections/Projects.astro';
import Contact from '../sections/Contact.astro';
import Footer from '../sections/Footer.astro';
---

<Layout title="Agustin Musumeci | Portfolio" description="Welcome to my web, i am a freelance frontend dev who offers web desing & development services. Explore my portfolio to discover a sleek of webs that will deligth you. Looking for web services? Contact me.">
	<main class="bg-darkwhite/50 md:bg-darkwhite/55 relative">
		<Background />
		<Header />
		<Hero />
		<About />
		<Projects />
		<Contact />
		<Footer />
	</main>
</Layout>
