---
import Layout from '../layouts/Layout.astro';
import Background from '../components/Background.astro'
import Header from '../sections/Header.astro';
import Hero from '../sections/Hero.astro';
import About from '../sections/About.astro';
import Projects from '../sections/Projects.astro';
import Contact from '../sections/Contact.astro';
import Footer from '../sections/Footer.astro';
---

<Layout title="Agustin Musumeci | Portfolio">
	<main class="bg-darkwhite/50 md:bg-darkwhite/55 relative">
		<Background />
		<Header />
		<Hero />
		<About />
		<Projects />
		<Contact />
		<Footer />
	</main>
</Layout>
