---
import { getEntry } from "astro:content";
import Navigation from "../components/Navigation.astro";

const about = await getEntry("about","data");
---
<header class="container flex justify-between items-center">
    <h1 class="font-logo z-50">
        <a href="#top">{about.data.author}</a>
    </h1>
    <div class="w-full h-[200px] px-[7.5%] py-9 absolute left-0 top-0 flex bg-darkwhite -translate-y-full md:w-fit md:h-fit md:px-0 md:py-0 md:relative md:bg-opacity-0 md:-translate-y-0 animate" aria-hidden="true" id="nav">
        <Navigation styles="items-stat md:items-center flex-col md:flex-row" />
    </div>

    <button class="hamburger" id="hamburger" data-active="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </button>
</header>

<script src="../scripts/handleNav.js">

</script>
