---
import { getEntry } from "astro:content";
import type { ref } from "../types/ref"
import Navigation from "../components/Navigation.astro";

const about = await getEntry("about", "data");
---

<section class="container h-[92.5dvh] grid place-content-center">
    <div aria-hidden="true" data-animate="fade-bottom">
        <h1 class="title-xl">
            {about.data.title}
        </h1>
        <Navigation styles="gap-5">
            {
                about.data.refs.map(
                    (ref: ref) =>
                        ref.title != "Phone" &&
                        ref.title != "Email" && (
                            <li class="icon-hover">
                                <a
                                    href={ref.href}
                                    target="_blank"
                                    class="text-2xl flex items-center"
                                >
                                    <i class={ref.icon} />
                                </a>
                            </li>
                        ),
                )
            }
            <li
                class="bg-dark text-darkwhite text-xs px-4 h-7 text-center flex items-center rounded-lg icon-hover hover:bg-darkgray hover:!text-darkwhite"
            >
                <a
                    href="/public/files/CV_AgustinMusumeci_2024.pdf"
                    download="CV_AgustinMusumeci_2024.pdf">Download CV</a
                >
            </li>
        </Navigation>
    </div>
</section>